<div class="w-full bg-white shadow-sm rounded-xl p-4">
  <h3 class="text-xl font-semibold text-gray-700 font-roboto">Follow Me</h3>
  <div class="flex gap-2 items-center">
    <a
      href="https://www.linkedin.com/in/kasireddy-mahadev-reddy-21bb89226"
      class="w-8 h-8 rounded-sm flex items-center justify-center border border-gray-400 text-base text-gray-800"
    >
      <i class="fab fa-linkedin"></i>
    </a>
    <a
      href="https://github.com/mahadev10/"
      class="w-8 h-8 rounded-sm flex items-center justify-center border border-gray-400 text-base text-gray-800"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://www.hackerrank.com/mahadev_clever"
      class="w-8 h-8 rounded-sm flex items-center justify-center border border-gray-400 text-base text-gray-800"
    >
      <i class="fab fa-hackerrank"></i>
    </a>
  </div>
</div>
