<div class="fixed bottom-0 w-full">
    <div class="flex items-center justify-center">
        <div class="w-full md:w-6/12 p-5">
            <div class="px-[15px] py-[14px] bg-green-100 font-semibold text-green-700 border border-green-200 border-l-[5px] border-l-green-600 rounded-tl-none transition-all">
                <div class="flex items-center">
                    <p class="text-center w-full">{{message}}</p>
                    <span class="text-2xl ml-auto alert-close"><i class="fas fa-close"></i></span>
                  </div>
            </div>
        </div>
    </div>
</div>